# Entorno virtual
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Tests
.pytest_cache/

# Modelos PyTorch y HuggingFace
*.pt
*.bin
*.safetensors

# Resultados (mantener estructura)
resultados/txt/*
resultados/json/*
!resultados/txt/.gitkeep
!resultados/json/.gitkeep

# Otros
resultados/
heredado/
qodo/
.DS_Store